.container{
    border:1px solid lightgray;
    border-radius: 10px;
    margin:50px;
    padding:10px;
}

.navbar {
    text-align: center;
}

.sidebar{
    border: ;
    padding:10px;
    margin:10px;
}

.main{
    border: ;
    padding:10px;
    margin:10px;
}

.card{
    padding:10px;
}