.container{
    border:1px solid black;
    margin:50px;
    padding:10px;
}

.navbar{
    text-align: center;
}

.sidebar{
    border: 1px solid green;
    padding:10px;
    margin:10px;
}

.main{
    border: 1px solid blue;
    padding:10px;
    margin:10px;
}

.card{
    padding:10px;
}